:root {
  --primary: #BB86FC;
  --primary-variant: #3700B3;
  --secondary: #03DAC6;
  --background: #121212;
  --surface: #121212;
  --error: #CF6679;
  --warning: #F39C12;
  --on-background: #FFFFFF;
  --on-background-grey: #c7c7c7;
  --on-surface: #FFFFFF;

  /* my color */
  --black: #181818;
  --purple: #ffffff;
  --purple-darker: #ffffff;
  --blue: #5CB8E4;
  --blue-darker: #3bb0e6;
  --white: #F2F2F2;
  --background: #181818;
  --on-background-grey: #4b4b4b;
}

[data-theme="light"] {
  /* --background: #DDDDDD;
  --suface: #FFFFFF;
  --on-background: #333333;
  --on-background-grey: #6d6d6d;
  --on-surface: #333333; */

  --background: #ffffff;
  --suface: #FFFFFF;
  --on-background: #333333;
  --on-background-grey: #d2d2d2;
  --on-surface: #5e5e5e;

  /* my color */
  --black: #181818;
  --purple: #8758FF;
  --purple-darker: #743dff;
  --blue: #5CB8E4;
  --blue-darker: #3bb0e6;
  --white: #F2F2F2;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: var(--on-background);
}


body {
  font-family: 'Inter', sans-serif;
}

.app-container {
  color: var(--on-background);
  background-color: var(--background);
  min-height: 100vh;
  transition: all ease-in-out 0.5s;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-bottom: 1px solid var(--on-background-grey);
}

header h1 {
  flex: 1;
}

header .navigation ul li {
  display: inline-block;
  font-size: 24px;
  margin: 0 4px;
}

main {
  margin: 0 auto;
  padding: 32px 0;
  width: 90%;
  max-width: 1200px;
}

.notes-list {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
  padding: 16px 8px;
}

.notes-list-empty {
  margin-top: 32px;
  padding: 16px 8px;
}

.notes-list-empty p {
  text-align: center;
  color: var(--on-background-grey);
}
.note-item {
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--on-background);
  border-top: 5px solid;
}

.note-item__title {
  margin: 4px 0;
}

.note-item__createdAt {
  color: var(--on-background-grey);
  font-size: 14px;
  margin: 4px 0;
}

.note-item__body {
  margin-top: 16px;
  overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.detail-page {
  margin: 0 auto;
  margin-top: 32px; 
  width: 90%;
}

.detail-page__title {
  font-size: 48px;
  margin-bottom: 8px;
  word-wrap: break-word;
}

.detail-page__createdAt {
  color: var(--on-background-grey)
}

.detail-page__body {
  line-height: 1.5;
  margin-top: 36px;
  font-size: 18px;
}

.detail-page__action, .homepage__action, .add-new-page__action {
  position: fixed;
  display: flex;
  gap: 16px;
  bottom: 32px;
  right: 32px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  border: 2px solid var(--background);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: var(--on-background);
  color: var(--background);
  padding: 8px;
  cursor: pointer;
}

.add-new-page__input {
  margin-top: 32px;
}

.add-new-page__input .add-new-page__input__title {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-family: 'Inter', sans-serif;
  font-size: 64px;
  font-weight: bold;
  padding: 8px 0;
}

.add-new-page__input__title::placeholder {
  color: var(--on-background-grey);
}

.add-new-page__input .add-new-page__input__body {
  width: 100%;
  background-color: transparent;
  border: 0;
  color: var(--on-background);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  padding: 8px 0;
  min-height: 500px;
}

[data-placeholder]:empty::before {
  content: attr(data-placeholder);
  color: var(--on-background-grey)
}

.search-bar input {
  margin: 16px 0;
  font-family: 'Inter', sans-serif;
  background-color: transparent;
  border: 1px solid var(--on-background);
  border-radius: 4px;
  padding: 8px;
  width: 100%;
  color: var(--on-background);
}

.search-bar input::placeholder {
  color: var(--on-background-grey);
}

.toggle-theme, .toggle-locale {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  color: var(--on-background);
  display: flex;
  align-items: center;
  margin: 0 16px;
}

.toggle-theme {
  font-size: 36px;
}

.toggle-locale {
  font-size: 28px;
}

.input-login, .input-register {
  margin: 32px 0;
}

.input-login label, .input-register label {
  font-size: 24px;
  font-weight: lighter;
}

.input-login input, .input-register input {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  margin-top: 8px;
  margin-bottom: 16px;
  display: block;
  width: 100%;
  padding: 8px;
  background-color: transparent;
  border-radius: 8px;
  border: 3px solid var(--on-background);
  color: var(--on-background)
}

.input-login button, .input-register button {
  font-family: 'Inter', sans-serif;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  padding: 12px;
  border: 0;
  border-radius: 8px;
  background-color: var(--on-background);
  color: var(--background);
  cursor: pointer;
}

.button-logout {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: 0;
  font-size: 28px;
  cursor: pointer;
  color: var(--on-background);
}


/* =================================================================== */
/* my style */

.navbar-header {
  flex: 1;
}

.navbar-header button {
  display: none;
}

.navbar-body{
  display: flex;
}

.navbar-additional{
  display: flex;
}

header .navigation ul li {
  padding: .3em .5em;
  border: 1px solid var(--background);
  border-radius: 8px;
  transition: .3s;
}

header h1 {
  color: var(--purple-darker);
}

header .navigation ul li:hover {
  border: 1px solid var(--purple);
}

header .navigation ul li a {
  text-decoration: none;
}

header{
  border-bottom: 1px solid var(--on-background-grey);
}

.active {
  background-color: var(--on-background);
}

.active a{
  color: var(--background);
}

.search-bar{
  display: flex;
  justify-content: center;
}

.search-bar input {
  padding: .7em;
  font-size: 1.2rem;
  max-width: 800px;
  transition: .3s;
}

.search-bar input:focus {
  padding: .7em 1em;
  background-color: var(--purple);
  outline: none;
  color: var(--background);
  border: 1px solid var(--purple);
}

.note-item{
  transition: .3s;
}

.note-item{
  padding: 1.3em;
}

.note-item:hover{
  outline: 1px solid var(--primary-variant);
  outline-offset: 10px;
  box-shadow: 0 0 30px var(--primary-variant);
  padding: 1em;
}

.action{
  transition: .3s;
  background-color: var(--purple);
}

.action:hover{
  outline: 1px solid var(--primary-variant);
  outline-offset: 10px;
  box-shadow: 0 0 30px var(--primary-variant);
  width: 45px;
  height: 45px;
  transition: .3s;
}

.add-new-page__input .add-new-page__input__title {
  font-size: 3em;
  padding: .3em;
  border-radius: 8px;
  transition: .3s;
  border: 1px solid var(--on-background);
}

.add-new-page__input .add-new-page__input__title:focus {
  padding: .3em .5em;
  background-color: var(--purple);
  border: 1px solid var(--purple);
  outline: none;
  color: var(--background);
}

.add-new-page__input .add-new-page__input__body{
  margin-top: .5em;
  padding: .7em;
  border-radius: 8px;
  transition: .3s;
  border: 1px solid var(--on-background);
}
.add-new-page__input .add-new-page__input__body:focus{
  padding: .7em 1em;
  background-color: var(--purple);
  border: 1px solid var(--purple);
  outline: none;
  color: var(--background);
}

.not-found-page{
  font-size: 3rem;
  text-align: center;
  color: var(--on-background-grey);
}

.toggle-locale{
  display: flex;
  gap: 10px;
}

/* v2 */

header nav ul li a, 
header button[class="toggle-locale"], 
header button[class="button-logout"] {
  font-size: 1.3rem;
}

.login-page, .register-page{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.login-page h2, 
.register-page h2 {
  color: var(--on-surface);
}

.login-page button, 
.register-page button,
.active {
  background-color: var(--purple);
  transition: .3s;
}

.login-page button:hover, 
.register-page button:hover,
.active:hover {
  background-color: var(--purple-darker);
}

.login-page input, 
.register-page input {
  border: 1px solid var(--on-background);
  transition: .3s;
}

.login-page input:focus, 
.register-page input:focus {
  outline: 1px solid var(--purple);
  box-shadow: 1px 1px 10px -3px var(--purple);
  border: 1px solid var(--purple);
}

.button-logout{
  border: 1px solid var(--background);
  border-radius: 8px;
  transition: .3s;
  padding: .3em .5em;
}

.button-logout:hover{
  border: 1px solid var(--on-background);
  font-weight: 600;
}

button.toggle-theme svg {
  transition: .3s;
}

button.toggle-theme svg:hover {
  margin-bottom: 5px;
}


.add-new-page,
.detail-page,
.register-page,
.login-page,
.notes-list
{
  animation: fadeIn 1s;
}

.error-message{
  margin-top: 20px;
  color: red;
}

.new-notes-loading{
  display: flex;
  justify-content: flex-end;
}

.new-notes-loading__message{
  display: inline-block;
  animation: fadeIn 1.2s infinite;
}

.new-notes-loading__animation::before{
  content: " ";
  display: inline-block;
  margin-left: 5px;
  width: 15px;
  height: 15px;
  border: 3px solid var(--on-background);
  border-color: var(--on-background) transparent var(--on-background) transparent;
  border-radius: 50%;
  animation: loading 1.2s linear infinite;
}

.laoding-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.loading {
  display: inline-block;
  width: 100%;
}

.loading::before {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--on-background);
  border-color: var(--on-background) transparent var(--on-background) transparent;
  animation: loading 1.2s linear infinite;
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 632px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .navbar-header button {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .navbar-header button svg {
    color: var(--on-background);
    width: 25px;
    height: 25px;
  }

  .navbar-body{
    /* margin-top: 10px; */
    flex-direction: column;
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: .3s;
  }

  .navbar-body .navigation ul li{
    margin: 10px;
    display: block;
  }

  .collapse {
    height: 160px;
    opacity: 1;
  }

  /* .navbar-header, 
  .navigation ul li a,
  .navbar-additional .button-logout,
  .navbar-additional .toggle-locale{
    font-size: 1.2rem;
  }
  .navbar-additional .toggle-theme{
    font-size: 1.5rem;
  } */
}

@media screen and (min-width: 650px) {
  .notes-list {
    grid-template-columns: repeat(2, 1fr);
  }

  .detail-page__title { 
    font-size: 64px;
  }
  
}

@media screen and (min-width: 850px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
